
:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

#home-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 7dvh;
    height: 7dvh;
    padding: 0.5dvh;
    background-color: black;
    border-style: double;
    border-color: white;
}

#house-graphic {
    height: 100%;
    background-color: white;
    clip-path: 
        polygon(
            50% 0, 100% 45%, 85% 45%, 85% 100%, 60% 100%, 60% 65%, 
            40% 65%, 40% 100%, 15% 100%, 15% 45%, 0 45%
        )
    ;
}

#name-tag {
    position: absolute;
    height: 18dvh;
    width: 18dvh;
    padding: 1dvh;
    left: calc(50% - 10dvh);
    top: 5dvh;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    transform-style: preserve-3d;
}

#name-tag-ring {
    position: absolute;
    width: 150%;
    height: 150%;
    left: -25%;
    top: -25%;
    background: 
        radial-gradient(
            closest-side circle at 50% 50%, 
            transparent 80%, 
            black 80% 100%, 
            transparent 100%
        )
    ;

    animation-name: name-ring-spin;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    pointer-events: none;
}

@keyframes name-ring-spin {
    0% {
        rotate: 1 1 1 0deg;
    }
    100% {
        rotate: 1 1 1 360deg;
    }
}

a {
    color: hsl(180, 80%, 70%);
}

#bg-top {
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: linear-gradient(white 35dvh, black 35dvh);
}

#bg-top-filter {
    position: absolute;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(25px) contrast(50);
}

.metaball {
    background-color: black;
    height: 10dvh;
    width: 10dvh;
    border-radius: 50%;
    position: absolute;
}

.metaball:first-child {
    animation: 
        metaball-x-1 ease-in-out 22s -16s infinite,
        metaball-y-1 ease-in-out 13s -16s infinite
    ;
}

.metaball:nth-child(2) {
    animation: 
        metaball-x-1 ease-in-out 14s -16s infinite,
        metaball-y-1 ease-in-out 33s -16s infinite
    ;
}

.metaball:nth-child(3) {
    animation: 
        metaball-x-1 ease-in-out 23s -16s infinite,
        metaball-y-1 ease-in-out 15s -16s infinite
    ;
}

.metaball:nth-child(4) {
    animation: 
        metaball-x-1 ease-in-out 17s -16s infinite,
        metaball-y-1 ease-in-out 24s -16s infinite
    ;
}

.metaball:nth-child(5) {
    animation: 
        metaball-x-1 ease-in-out 31s -16s infinite,
        metaball-y-1 ease-in-out 28s -16s infinite
    ;
}

.metaball:nth-child(6) {
    animation: 
        metaball-x-1 ease-in-out 26s -16s infinite,
        metaball-y-1 ease-in-out 20s -16s infinite
    ;
}

.metaball:nth-child(7) {
    animation: 
        metaball-x-1 ease-in-out 33s -16s infinite,
        metaball-y-1 ease-in-out 39s -16s infinite
    ;
}

.metaball:nth-child(8) {
    width: 20dvh;
    height: 20dvh;
    left: calc(50% - 10dvh);
    top: 5dvh;
}

@keyframes metaball-x-1 {
    0% {
        left: -20dvh;
    }

    50% {
        left: 40dvh;
    }

    100% {
        left: -20dvh;
    }
}

@keyframes metaball-y-1 {
    0% {
        top: -20dvh;
    }

    50% {
        top: 40dvh;
    }

    100% {
        top: -20dvh;
    }
}

#contact-info {
    position: relative;
    line-height: 1.5;
    text-align: left;
}

#contact-info > div {
    position: relative;
    display: inline-block;
    text-align: left;
    right: 0;
    padding-left: 1em;
}

#contact-info h4 {
    margin-block-start: 0;
    padding-block-start: 1.33em;
    margin-block-end: 0.5em;
}

#contact-info ul {
    margin: 0;
}

#career-summary {
    position: relative;
    left: 1em;
    width: calc(100% - 2em);
    padding-right: 1em;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    box-sizing: border-box;
}

#career-summary h1 {
    margin: 0;
}

b {
    font-style: italic;
    text-decoration: underline;
}

#mobile-top-spacer, 
footer {
    height: 35dvh;
    text-align: center;
}

#show-links-on-mobile {
    display: none;
}

input[id=show-links-on-mobile]:checked + .desktop-only {
    display: block;
}

main {
    position: relative;
    width: calc(100% - 2dvh);
    margin: auto;
}

#key-skills div {
    display: inline-block;
    border: solid white 1px;
    border-radius: 5px;
    padding: 0.3em;
}

#education p {
    font-size: 1.1em;
}

/* 

desktop css overrides 

*/

@media only screen and (min-width: 768px) {
    #home-button {
        top: 0;
        width: 4dvh;
        height: 4dvh;
    }

    #name-tag {
        left: 5dvh;
    }

    #bg-top {
        background: radial-gradient(closest-side circle at 15dvh 15dvh, white 200%, black 200%);
    }

    .metaball:nth-child(8) {
        left: 5dvh;
    }

    #contact-info {
        right: 1em;
        text-align: right;
    }

    #career-summary {
        left: 50dvh;
        width: calc(100% - 50dvh);
    }
}
