
:root {
    --primary-accent: white;
    --link-accent: hsl(180, 80%, 70%);
    --contrast-accent: hsl(39, 70%, 70%);
}

body {
    color: var(--primary-accent);
    text-shadow: 0 0 8px var(--primary-accent);
    font-family: 'Courier New', Courier, monospace;
}
