
:root {
    --primary-accent: hsl(180, 80%, 50%);
    --secondary-accent: hsl(285, 100%, 70%);
}

body {
    position: relative;
    background: hsla(213, 84%, 24.5%);

    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-accent);
    text-shadow:
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px var(--primary-accent), 
        0 0 8px var(--primary-accent)
    ;
}

#wip-display {
    position: absolute;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
}

.preview-pane {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.preview-pane a {
    color: var(--secondary-accent);
    text-shadow:
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px var(--secondary-accent), 
        0 0 8px var(--secondary-accent)
    ;
}

.preview-pane a:hover {
    color: hsl(285, 100%, 85%);
    text-shadow:
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px var(--secondary-accent), 
        0 0 8px var(--secondary-accent)
    ;
}

.preview {
    position: relative;
    width: 50%;
    height: 50%;
    left: 25%;
    border: 1px solid var(--primary-accent);
    border-radius: 10px;

    box-shadow: 0 0 12px 2px var(--primary-accent);
}

.preview > span {
    position: relative;
}

.preview-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    pointer-events: none;
    opacity: 0.35;
    zoom: 0.25;
    overflow: hidden;
}

a {
    color: var(--primary-accent);
}

#wip-selector {
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: 0;
    text-align: center;
    background: rgba(128, 0, 128, 0.1);
    overflow-x: scroll;
    white-space: nowrap;
}

#wip-selector > h1 {
    text-align: left;
    font-size: 1em;
    margin-left: 1em;
}

.wip-item {
    height: calc(100% - 3em);
    padding: 0 2em;
    border: 1px solid var(--primary-accent);
    border-radius: 10px;
    transition-duration: 0.3s;
    box-sizing: border-box;
    display: inline-block;
}

.wip-item > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wip-item:hover {
    border: 1px solid var(--secondary-accent);
    color: var(--secondary-accent);
    text-shadow:
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px black,
        0 0 8px var(--secondary-accent), 
        0 0 8px var(--secondary-accent)
    ;
}

input[name=previews] {
    display: none;
}

input:checked + .preview-pane {
    display: block;
}

.preview-pane {
    display: none;
}

#home-link {
    position: relative;
    bottom: -0.7rem;
    font-size: larger; 
    border: 2px outset var(--primary-accent); 
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {
    #wip-display {
        width: 80%;
        height: 100%;
    }

    #wip-selector {
        width: 20%;
        height: 100%;
        right: 0;
        bottom: auto;
        overflow-x: visible;
        white-space: normal;
    }

    #wip-selector > h1 {
        text-align: center;
        font-size: 2em;
        margin-left: 0;
    }

    .wip-item {
        height: auto;
        width: 80%;
        margin: auto;
        margin-top: 1em;
        padding: 3em 1em;
        display: block;
        box-sizing: content-box;
    }

    .wip-item > div {
        transform: none;
    }

    .preview-pane {
        scrollbar-width: none;
    }
}
